<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ page.title}} | Society of Monash Electrical Engineers</title>
</head>

<body>
	<a href="./"><img src="./assets/Logo horizontal.png" alt="Society of Monash Electrical Engineers logo" style="max-height:160px" /></a>
	<nav>
		<ul>
			<li><a href="./">Home</a></li>
			<li><a href="./sponsors">Sponsorships</a></li>
			<li><a href="./supercommittee">Supercommittee</a></li>
			<li><a href="./awards">Awards</a></li>
			<li><a href="./contactus">Contact Us</a></li>
			<li><a href="./join">Join</a></li>
		</ul>
	</nav>
	<div>
		{{ content }}
	</div>
	<footer>
		<hr />
		<p>The Society of Monash Electrical Engineers acknowledges the traditional owners of the land on which it
			operates, the peoples of the Kulin nations and particularly the Wurundjeri Woi Wurrung people and the
			Bunurong people. We pay our respects to Elders past, present and emerging.</p>
	</footer>
</body>

</html>